body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.game-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.image-container {
  margin-bottom: 20px;
}

img {
  width: 100%;
  border-radius: 8px;
}

.form-container {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #ff3855;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff1493;
}

/* Style untuk teks berjalan yang muncul di dalam kotak putih */
.run-text {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  display: none;
}

.run-text span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-text 20s linear forwards;
}

/* Animasi hanya berjalan sekali */
@keyframes scroll-text {
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(-100%);
  }
}
